/* ============================================================ Ensembles du document ================================================= */
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: lighter;
}

.color_blue{
    color: var(--color-blue-sky);
}

a, a:visited {
    text-decoration: none;
}

li {
    text-transform: uppercase;
    list-style:none;
}
/* ============================================================ MES VARIABLES ========================================================= */
:root{
    --color-blue-sky : #4bcaff;
    --color-grey-bet : #515f67;
    --color-grey-fnc : #353f47;
    --color-white--- : #ffffff;
}


/* ============================================================ MES GRILLADES ========================================================= */

.container_large{
    width: 100%;
    min-width: 1170px;
}

.container{
    width: 1170px;
    margin: auto;
    display: flex;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* ============================================================ PREMIERE PARTIE ======================================================= */

.first_container{
    background-image: url("images/fond1.jpg");
    height: 800px;
}

.container_pt1{
    justify-content: space-between; 
    align-items: center;
}

/* header dans premiere partie */
.header_container{
    height: 150px;
    background-color: var(--color-grey-fnc);
    opacity: 85%;
    font-weight: bold;
}


/* titre du site */
h1, h1 a{
    color: var(--color-white---);
    font-size: 30px;

}

/* navigation */
.nav_button{
    display: flex;
    justify-content: space-between;
}

.button_header{
    height: 35px;
    align-items: center;
    margin: 0 5px 0 0;   
    display: flex;
    justify-content: space-around;
}

.button_header a{
    font-size: 14px;
    color: var(--color-white---);
    border: transparent solid 3px;
    padding: 10px 15px;
}

.button_header a:hover {
    color: var(--color-blue-sky);
    border: var(--color-blue-sky) solid 3px;
}

/* ------------ Div de bienvenue ------------*/
#home{
    height: 650px;
    display: flex;
    justify-content: center;
}

#home p{
    background-color: var(--color-grey-fnc);
    opacity: 85%;
    color: var(--color-white---);
    font-size: 42px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 4px 20px;
    margin: 12px auto;
}

.width70{
    width: 70%;
}
/* ============================================================ DEUXIEME PARTIE ======================================================= */

.second_container{
    background-color: var(--color-blue-sky);
    height: 405px;
    color: var(--color-white---);
}

.container_pt2{
    flex-direction: column;
    justify-content: center;
}

.second_container .souligne{
    border-bottom: var(--color-white---) solid 2px;
}


.row_4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_pt2:not(.logo_not){
    margin-right: 30px;
}

.logo_pt2 h3 {
    font-size: 24px;
    font-weight: 600;
}

.logo_pt2 p {
    font-size: 12px;
    font-weight: 600;
}

/* ============================================================ TROISIEME PARTIE ======================================================= */

/* en-tête de la partie */
.third_container{
    height: 845px;
    color: var(--color-grey-bet);
}

.third_container .souligne{
    border-bottom: var(--color-grey-bet) solid 2px;
}

.menu_portfolio h2{
    padding-bottom: 10px;
}

.menu_portfolio{
    align-items: center;
}

.nav_portfolio{
    align-items: flex-end;
}

.nav_portfolio li{
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    border: solid transparent 2px;
}

.nav_portfolio li:hover{
    color: var(--color-blue-sky);
    border: solid var(--color-blue-sky) 2px;
}

/* Bloc contenant les images */

.row_8{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.div_photo_pt3{
    position: relative;
    margin-bottom: 30px;
}

.div_photo_pt3 a{
    color: var(--color-white---);
}

.photo_pt{
    position: absolute;
    background-color: var(--color-grey-fnc);
    opacity: 0%;
    width: 270px;
    height: 270px;
    top: 0; left: 0;
    text-align: center;
    font-size: 80px;
}

.photo_pt:hover{
    opacity: 70%;
    color: var(--color-white---);
}

/* ============================================================ QUATRIEME PARTIE ======================================================= */

.fourth_container{
    height: 472px;
    background-color: var(--color-grey-bet) ;
}

/* ============================================================ CINQUIEME PARTIE ======================================================= */

.fifth_container{
    height: 305px;
    background-color: var(--color-blue-sky) ;
}

/* ============================================================ SIXIEME PARTIE ========================================================= */

.sixth_container{
    height: 505px;
    background-image: url("images/fond2.jpg");
}

/* ============================================================ SEPTIEME PARTIE ======================================================== */

.seventh_container{
    height: 360px;
}

/* ============================================================ HUITIEME PARTIE ======================================================== */

.heighth_container{
    height: 814px;
    background-image: url("images/fond3.jpg");
}

/* ============================================================ NEUVIEME PARTIE ======================================================== */

.ninth_container{
    height: 170px;
    background-color: var(--color-grey-fnc);
}

